.input-group .fa.fa-search {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 1.5rem;
  font-size: 20px;
  color: #d3d3d3;
}

.searchbar {
  display: flex;
  justify-content: space-between;
}
.fa-search:before {
  content: "\f002";
}

.dropdown-wrapper {
  width: 12rem;
}

.dropdown-root {
  position: relative;
}

.dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 0.2s ease;
}

.dropdown-placeholder {
  font-weight: 600;
}

.dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

/* body part  */
#country__card {
  height: 100%;
}

#country__card a {
  text-decoration: none;
  color: #000;
}
#country__card .card-img-top {
  height: 170px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem;
}

#country__card p {
  margin-bottom: 0;
}

#country__card p > span {
  margin-left: 10px;
}
